<p>Hi <%= @user_voucher.user.first_name %>,</p>
<p>
Superior Essays Pro has awarded you a <b><%= @user_voucher.voucher.value %>% discount</b> on your next order!
</p>
<p>
Go to <a href="<%=orders_new_url%>">Superior Essays Pro</a> to create your order</p>
 </p>