<% provide(:title, 'Experts in writing | Delivering Quality Work Is Our Priority') %>
<% provide(:description, 'The superior Essays Pro is delivering quality work is our priority and we strive to meet customers’ expectations without failure.') %>
<% provide(:keywords, 'Buy Assignment Online, Buy Research Paper, Write My Research Paper, Term Paper Help, Cheap Essay Writing Service, Superior Essay Papers, Essays,Buy Essay,College Essay, Custom Essay Online, Cheap Essay Writing, Do Your Essay, Order Essay,Top Essay Writing, research, books, writing, questions, term papers') %>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/">Superior Essays <span>Pro</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to Superior Essays <span>Pro</span></h1>
      <h2>Our 500+ writers are ready to help you with any subject and any deadline.</h2>
      <div class="d-flex">
        
        <% if @current_user %>
          <%= link_to '/orders/new', method: :get, :class => "btn-get-started font-weight-semibold #{'active' if request.path == '/orders/new'}" do %>
            <span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Place Order</span>
          <% end %>
        <% else %>
          <a href="#about" class="btn-get-started scrollto mr-3">Get Started</a>
          <%= link_to '/auth/google_oauth2', method: :post, :class => "btn-get-started font-weight-semibold" do %>
            Sign In
          <% end %>
        <% end %>
      </div>
    </div>
  </section><!-- End Hero -->

    <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bx bx-bullseye"></i></div>
              <h4 class="title"><a href="">Top Notch Quality</a></h4>
              <p class="description">Our team of experts is qualified to offer high quality papers. Superior Essays Pro does not
tolerate any form of plagiarism.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-support"></i></div>
              <h4 class="title"><a href="">Fulltime Friendly Support</a></h4>
              <p class="description">
              Our support agents work around the clock. If you need an urgent essay in the middle of the night,
our agents will always guide you through the process of placing the order and having it done on
time. We have clients from different time zones, so we are always online to cater for your needs.
              </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-hide"></i></div>
              <h4 class="title"><a href="">100% Confidentiality</a></h4>
              <p class="description">We value our customer’s confidentiality. All personal information provided remains confidential.
Occasionally we may request for personal details used solely for communication and order
updates.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-network-chart"></i></div>
              <h4 class="title"><a href="">The Writing Process</a></h4>
              <p class="description">
              Fill in the order form, make payment, get a writer assigned and download your plagiarism-free paper!
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>We offer expert writing assistance to provide you with the correct work. Our 24/7 trustworthy support agents are always available to guide you through the process of getting your order done on time. We offer quality services to help students tackle their assignments easily.</p>
          <p>Delivering quality work is our priority</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul>
              <li>
                <i class="bx bx-question-mark"></i>
                <div>
                  <h5>Why Choose Us?</h5>
                  <p>We have many expert writers in different fields. We focus on recruiting only competent writer with enough knowledge and experience to be a part of our team. Every writer has an obligation to pass the tests provided to be a part of our company. Some of the essential criteria we consider when assessing the skills of our potential experts includes academic qualification, excellent English knowledge, and a proven capacity to write an effective academic paper from scratch. Our support agents will be happy to answers any questions regarding our services and prices. We have desirable packages for every customer, including pleasant discounting options.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-simple-smile"></i>
              <span data-toggle="counter-up">763</span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-document-folder"></i>
              <span data-toggle="counter-up">3,052</span>
              <p>Essays</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-live-support"></i>
              <span data-toggle="counter-up">1,463</span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-users-alt-5"></i>
              <span data-toggle="counter-up">500</span>
              <p>Writers</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <h3>Check our <span>Services</span></h3>
          <p>
            Our team is composed of writers, editors, quality assurance agents, and customer support representatives. We write all our assignments from scratch based on the customer’s demand and instructions.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Essay Writing</h4>
              <p>We are dedicated towards offering essay-writing services to provide you with 100% original content with a guaranteed satisfaction.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Research paper writing</h4>
              <p>Our custom writing company offers reliable research paper writing in various fields to meet client’s satisfaction.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Dissertation writing</h4>
              <p>We have expert dissertation and thesis writers ready to provide a high-end quality in dissertation assignments.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Editing and Proofreading</h4>
              <p>Superior Essays Pro ensures that you meet the required academic standards with editing and proofreading services to deliver assignments with flawless text and formatting.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Term paper writing</h4>
              <p>Superior Essays Pro offers the best term paper writing services at any level, ranging from high school to PhD.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4>Book reports</h4>
              <p>Superior Essays Pro only uses qualified native English speaking writers to produce the best book report service at affordable cost.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
            <h3>Ruthson Drake</h3>
            <h4></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Reliable customer service with a team of competent writers always ready to advise on the best approach to tackle an assignment!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
            <h3>Brendan Breen</h3>
            <h4></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Excellent work and quality! Thank you
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
            <h3>Anna Maria</h3>
            <h4></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Superior Essay Pro never disappoints. I have ordered different assignments and every time I felt satisfied with the output. Their quality is always up to standard and they always meet specific paper instructions without revisions.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
            <h3>Jenna Brad</h3>
            <h4></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Superior Essays Pro completed my dissertation after I collected data and I had no time to complete the project. Their team of experts is reliable and always ready to deliver quality work on time!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="assets/img/testimonials/avatar.jpg" class="testimonial-img" alt="">
            <h3>Mike Branson</h3>
            <h4></h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Superior Essays Pro came through for me. I always order my assignments from the company and I have managed to obtain higher grades in all of them. I would definitely recommend their services!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
          <h3>Check our <span>Pricing Calculator</span></h3>
          <p>Select the options that match your needs.</p>
        </div>

        <%= render 'calculator'%>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="info-box  mb-4">
                    <i class="bx bx-envelope"></i>
                    <h3>Email Us</h3>
                    <p>support@superioressays.pro</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="info-box  mb-4">
                    <i class="bx bx-phone-call"></i>
                    <h3>Call Us</h3>
                    <p>+1 (413) 400-8777</p>
                    </div>
                </div>
            </div>
          </div>

          <div class="col-lg-6">
          <%= form_for :contact,:html => {:class => 'php-email-form'}, :url => url_for(:controller => 'landing', :action => 'contact', ) do |form| %>
              <div class="form-row">
                <div class="col form-group">
                  <input type="text" name="contact[name]" class="form-control" id="contact_name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="contact[email]" id="contact_email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="contact[subject]" id="contact_subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="contact[message]" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
          <%end%>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

    <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Superior Essays <span>Pro</span></h3>
            <p>
            
              13th Street <br>
              New York, NY<br>
              United States <br><br>
              <strong>Phone:</strong> +1 (413) 400-8777<br>
              <strong>Email:</strong> support@superioressays.pro<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/archives/list">Archives</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/terms">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/privacy">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Essay Writing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Research paper writing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Dissertation writing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Editing and Proofreading</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Term paper writing</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">Book reports</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://www.facebook.com/Superioressayspro" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        Delivering quality work is our priority
      </div>
      <div class="credits">
        
      </div>
    </div>
  </footer><!-- End Footer -->