  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/landing">Superior Essays <span>Pro</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="/#">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
        <h1>Privacy Policy</h1>
    </div>
  </section><!-- End Hero -->

<main id="main">
<section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <p>At Superior Essays Pro, we are committed towards offering our customers with excellent
        products and services. Therefore, collecting personal and non-personal details about our
        customers is a necessary requirement. However, the privacy is a valuable element for us. We
        have a responsibility of securing and respecting the privacy of the users on our site.
        </p>

        <h2>Consent</h2>
        <p>
        We ask for affirmative consent before collecting and processing personal information. In the
        events whereby you choose to withdraw consent after expressing it, freely contact us at
        support@superioressays.pro
        </p>
      </div>
</section>