  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <h1 class="logo mr-auto"><a href="/landing">Superior Essays <span>Pro</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt=""></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="/#">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
    <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
        <h1>Terms and Conditions</h1>
    </div>
  </section><!-- End Hero -->

<main id="main">
<section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">
        <h2>Services</h2>
        <p>
        At <b>Superior Essays Pro</b>, we offer a broad range of academic writing services, ranging from
editing tasks to completing orders from scratch depending on the instructions. Completing the
order form on our website provides a guarantee of an acceptance of the Terms and Conditions.
        </p>

        <h2>Adapting to the Terms and Conditions</h2>
        <p>
        <b>Superior Essays Pro</b> is has the power to alter the information presented in the Terms and
Conditions. Therefore, our customers are advised to always check out website policies for any
changes.
        </p>

        <h2>Copyright Policies</h2>
        <p>
        We offer custom writing services to our customers for limited use only as guided in our privacy
policy. However, the clients are not provided with the authority to entirely reproduce or copy
sections of the written work without providing proper referencing. Super Essays Pro will not be
responsible to the third parties for using its products within proper authorization.
        </p>

        <h2>Pricing and Discount Program</h2>
        <p>
        The cost of our services vary based on factors such as academic level, urgency, paper spacing,
subject, and the type of service.
        </p>
        <p>
        We have a discounting program for all new customers for them to try out our quality services at
reasonable prices.
        </p>
        <p>
        We also have a loyalty program whereby the more you spend the bigger the discount provided.
        </p>
        <ul>
        <li>Spend more than $500 and get a 5% discount on the next 3 orders</li>
        <li>Spend more than $1000 and get a 10% discount on the next 5 orders</li>
        <li>Spend more than $2000 and get a 15% discount on the next 10 orders</li>
        </ul>

        <h2>Guarantees</h2>
        <p>
        We have an obligation to our customers to offer a plagiarism free work, following all the
instructions, and delivering the final order within the deadline.
        </p>

        <p>
        The acceptable plagiarism percentage should always be lower than 8%. In the events where this
value is exceeded, you have the right to receive a refund or request for a revision. Please read our
<b>Revision Policy</b>, <b>Plagiarism Guarantees</b>, and <b>Money Back Guarantees</b> sections.
        </p>

        <h2>Plagiarism Guarantees</h2>
        <p>
        We do not tolerate any form of plagiarism. We check all completed assignments for plagiarism at
no extra cost. We also guarantee the originality of all the papers completed by us. In case you
submit an assignment completed by you to be edited or paraphrased, we will not guarantee that it
was not plagiarized before. To ensure a desirable customer experience, we consider it our leading
priority to only offer original work.
        </p>

<h2>Revision Policy</h2>
        <p>
        Our revision policy seeks to ensure that all completed papers are up to standard. You can request
a revision free of charge as necessary for up to 14 days from the order’s final deadline in our
system. Requested a revision after the stated period will attract an additional cost.
        </p>
        <ul>
          <li>The revision can be requested through the live chat, email, or over the phone. However,
we advise the use of the written options (email or chat) for the records.</li>
          <li>The revision instructions should not be contradictory to the original ones. Otherwise, we
will require you to make an additional payment.</li>
          <li>Every revision should have a stated deadline to avoid inconveniences.</li>
          <li>In case of charge backs, the right for free revisions is lost.</li>
          <li>If your order’s cost is more than $500, you have up to 30 days to request a revision</li>
        </ul>

         <p>
        Delivering quality work is our priority and we strive to meet customers’ expectations without
failure.
        </p>
      </div>
</section>