<div class="card">
    <div class="text-center">
        <h1>Price Per Page (Double Spaced / 275 words)</h1>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="bg-info">
                    <th>Deadline</th>
                    <th>Standard</th>
                    <th>Premium</th>
                    <th>Platinum</th>
                </tr>
            </thead>
            <tbody>
                <% for i in 0..9 %>
                    <tr>
                        <td><%= OrderUrgency.find(i+1).display %></td>
                        <td>$<%= SEConstants::OrderBasePrice::STANDARD + i %></td>
                        <td>$<%= SEConstants::OrderBasePrice::PREMIUM + i %></td>
                        <td>$<%= SEConstants::OrderBasePrice::PLATINUM + i %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
