<div class="card">
    <div class="text-center">
        <h1>Pricing Table</h1>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="bg-info">
                    <th>Deadline</th>
                    <th>Standard</th>
                    <th>Premium</th>
                    <th>Platinum</th>
                </tr>
            </thead>
            <tbody>
                <% for i in 0..9 %>
                    <tr>
                        <td><%= @pricing_matrix["urgency"][i] %></td>
                        <td>$<%= @pricing_matrix["standard_quality"][i] %></td>
                        <td>$<%= @pricing_matrix["premium_quality"][i] %></td>
                        <td>$<%= @pricing_matrix["platinum_quality"][i] %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>