<li class="nav-item">
    <%= link_to '/pricing', method: :get, :class => "navbar-nav-link font-weight-semibold" do %>
        <span class="text-white-400"><i class="icon-list-unordered mr-1"></i> Pricing</span>
    <% end %>
</li>

<% if @current_user %>
    <% if @current_user.admin? %>

    <% else %>

    <% end %>
<% end %>