<div class="row">
  <div class="col-12">
    <%= link_to 'Place Order'.html_safe, '/orders/new', method: :get, :class => "btn btn-primary" %>
    <%= link_to 'Chat with us'.html_safe, 'https://www.proprofschat.com/chat-page/?id=cFU2U21MQnd5eUloUno5RDZXQjE2QT09', method: :get, :class => "btn btn-primary", target: :_blank  %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">Orders</h5>
      </div>
      <table id="searchable" class='table table-striped' data-url="<%= orders_fetch_path(:format => :json) %>">
        <thead>
          <tr>
            <th>Code</th>
            <th>Status</th>
            <th>Type</th>
            <th>Topic</th>
            <th>Payment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>



<%= render 'general/data_tables_scripts' %>
