<div class="row">
  <div class="col-sm-6 col-xl-3">
    <div class="card card-body bg-success-400 has-bg-image">
      <div class="media">
        <div class="media-body">
          <h3 class="mb-0">21</h3>
          <span class="text-uppercase font-size-xs">TODO</span>
        </div>

        <div class="ml-3 align-self-center">
          <i class="icon-office icon-3x opacity-75"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xl-3">
    <div class="card card-body bg-success-400 has-bg-image">
      <div class="media">
        <div class="media-body">
          <h3 class="mb-0">34</h3>
          <span class="text-uppercase font-size-xs">IN PROGRESS</span>
        </div>
        <div class="ml-3 align-self-center">
          <i class="icon-users4 icon-3x opacity-75"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xl-3">
    <div class="card card-body bg-success-400 has-bg-image">
      <div class="media">
        <div class="media-body">
          <h3 class="mb-0">54</h3>
          <span class="text-uppercase font-size-xs">OVERDUE</span>
        </div>
        <div class="mr-3 align-self-center">
          <i class="icon-user-tie icon-3x opacity-75"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xl-3">
    <div class="card card-body bg-danger-400 has-bg-image">
      <div class="media">
        <div class="media-body">
          <h3 class="mb-0">0</h3>
          <span class="text-uppercase font-size-xs">CANCELLED</span>
        </div>
        <div class="mr-3 align-self-center">
          <i class="icon-lock2 icon-3x opacity-75"></i>
        </div>
      </div>
    </div>
  </div>
</div>
        <%= link_to 'Place Order'.html_safe, '/orders/new', method: :get, :class => "btn btn-primary mr-3" %>
