<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h5 class="card-title">To Do</h5>
      </div>
      <table id="searchable" class='table table-striped' data-url="<%= client_orders_todo_path(:format => :json) %>">
        <thead>
          <tr>
            <th>Code</th>
            <th>Status</th>
            <th>Type</th>
            <th>Topic</th>
            <th>Payment</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'general/data_tables_scripts' %>
